@import '../../variables.scss';

.checkDamaged {
  display: flex;
  position: relative;
  height: calc(100% - #{$navHeight});
  justify-content: start;
  flex-grow: 1;
}

.content {
  width: 400px;
}

.header {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

.overlayContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  height: fit-content;
  width: 440px;
  box-shadow: 0 0 8px 4px #0000004d;
  background-color: $backgroundColor;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.percentageHeader {
  font-size: 1.4em;
}

.overlayDamagedBase {
  margin-top: 15px;
  font-size: 2em;
  font-weight: 700;
}

.overlayDamaged {
  @extend .overlayDamagedBase;
  color: $secondaryColor;
}

.overlayNotDamaged {
  @extend .overlayDamagedBase;
  color: rgb(3, 170, 6);
}
