@import '../../variables.scss';

.environmentalFloodDamage{
    display: flex;
    position: relative;
    height: calc(100% - #{$navHeight});
}

.section {
    width: 50%;
}

.leftSection {
    @extend .section;
    display: flex;
    justify-content: center;
}

.imagePickerContainer{
    display: flex;
    gap: 40px;
    justify-content: center;
}

.rightSection{
    @extend .section;    
}

.assessForm{
    width: 400px;
}

.assessedHeader{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

.checkedCard {
    border: 1px solid #bfbfbf;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .detailsContainer {
    flex-grow: 1;
  }
  
  .type {
    font-size: 1.2em;
    font-weight: 600;
  }
  
  .percentage {
    font-size: 2.2em;
    color: $secondaryColor;
    font-weight: 700;
  }
  
  .overlayContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay {
    height: fit-content;
    width: 440px;
    box-shadow: 0 0 8px 4px #0000004d;
    background-color: $backgroundColor;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }
  
  .percentageHeader {
    font-size: 1.4em;
  }
  
  .overlayPercentage {
    margin-top: 20px;
    font-size: 2.6em;
    font-weight: 700;
    color: $secondaryColor;
  }
  