@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$fontFamily: 'Poppins', sans-serif;
$primaryColor: #38405f;
$primaryColorLight: #49547d;
$primaryColorDark: #2f344d;
$secondaryColor: #ff5a5f;
$errorColor: #c81d25;
$backgroundColor: #fff;
$fontColor: #0b0b0b;
$secondaryFontColor: #8c8c8c;
$navHeight: 5em;
$sideNavWidth: 18em;
